$light: hsl(240, 20%, 97%);
$dark: hsl(231, 15%, 25%);
$gray: hsl(0, 0%, 93%);

$primary: hsl(210, 79%, 46%);
$light-primary: hsl(209, 100%, 91%);
$dark-gray: hsl(0, 0%, 67%);
$danger: hsl(0, 65%, 51%);
$light-danger: hsl(353, 96%, 90%);
$warning: hsl(43, 96%, 58%);
$light-warning: hsl(46, 100%, 89%);
$success: hsl(123, 43%, 39%);
$light-success: hsl(141, 79%, 85%);